@import "tailwindcss";

/* ตั้งค่าพื้นฐานของเว็บเริ่มต้น */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Consolas", sans-serif;
  background: #2a3335;
  color: #FFCFEF;
}

/* ตั้งค่าตัวโหลด - เพิ่ม animation */
@layer utilities {
  /* กระพริบ */
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  /* โหลด */
    @keyframes loading {
    0% {
      transform: translate(-100%);
    }
    100% {
      transform: translate(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 1s ease infinite;
  }

  /* ลูปขวาไปซ้าย */
  @keyframes loop_right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .animate-loop-right {
    animation: loop_right 30s linear infinite;
  }

  /* ลูปซ้ายไปขวา */
  @keyframes loop_left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .animate-loop-left {
    animation: loop_left 30s linear infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translate(20px);
  transition: opacity 0.7s ease, tranform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ซ่อน Scrollbar ในส่วนงาน Artwork */
.scroll-hide::-webkit-scrollbar {
  display: none; /* สำหรับ Chrome, Safari */
}

.scroll-hide {
  -ms-overflow-style: none;  /* สำหรับ IE และ Edge */
  scrollbar-width: none;     /* สำหรับ Firefox */
}